@model Wrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body{
            padding: 1% 5%;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" href="/dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/service">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/service/completed">Completed Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Number of Cars</th>
                    <th scope="col">Member Since</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.AllUsers)
                {
                    <tr>
                        <td>@user.LastName @user.FirstName</td>
                        <td>@user.Email</td>
                        <td>@user.Cars.Count</td>
                        <td>@user.CreatedAt</td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</body>
</html>