@model Wrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        /*$.ajaxSetup({
            headers: {
                "content-type": "application/json",
                "authorization": "Basic OWYxOTQ2ZGYtYmZiNy00ZmNmLTkyNTgtNmIwOWNhNjc0Njdi",
                "partner-token": "ac11a56f425c4fff8056611b4d000bcc"
            }
        });
        let year = @Model.Car.Year;
        let make = "@Model.Car.Make.ToUpper()";
        let model = "@Model.Car.Model.ToUpper()";
        let mileage = @Model.Car.Mileage;
        $.ajax({
            url: `https://cors-anywhere.herokuapp.com/http://api.carmd.com/v3.0/engine?year=@Model.Car.Year&make=@Model.Car.Make.ToUpper()&model=@Model.Car.Model.ToUpper()"`,
            type: 'GET',
            dataType: 'json', // added data type
            success: function(res) {
                console.log(res);
            }
        });
        $.ajax({
            url: `https://cors-anywhere.herokuapp.com/http://api.carmd.com/v3.0/upcoming?year=@Model.Car.Year&make=@Model.Car.Make.ToUpper()&model=@Model.Car.Model.ToUpper()"&mileage=@Model.Car.Mileage`,
            type: 'GET',
            dataType: 'json', // added data type
            success: function(res) {
                console.log(res);
            }
        });*/
        let results = undefined;
        $.ajax({
            url: "https://cors-anywhere.herokuapp.com/@Model.CarDetails",
            type: 'GET',
            dataType: 'json', // added data type
            success: function(res) {
                console.log(res);
                results = res.Results;
                $(".data").append(`
                <p><strong>${res.Results[14].Variable}:</strong> ${res.Results[14].Value}</p>
                <p><strong>Vehicle Class:</strong> ${res.Results[23].Value}</p>
                <p><strong>Vehicle Weight:</strong> ${res.Results[28].Value}</p>
                <p><strong>${res.Results[70].Variable}:</strong> ${res.Results[70].Value}</p>
                <p><strong>${res.Results[71].Variable}:</strong> ${res.Results[71].Value}</p>
                <p><strong>Horesepower:</strong> ${res.Results[82].Value}</p>
                <p><strong>${res.Results[98].Variable}:</strong> ${res.Results[98].Value}</p>
                <p><strong>${res.Results[99].Variable}:</strong> ${res.Results[99].Value}</p>
                <p><strong>Mileage:</strong> @Model.Car.Mileage</p>
                `)
            }
        });
    </script>
</head>
<body>
    <header>
        <a href="/dashboard">Home</a>
        <a href="/service">Services</a>
        <a href="/service/completed">Completed Services</a>
        <a href="/logout">Log Out</a>
    </header>
    <main>
        <h1>@Model.Car.Year @Model.Car.Make @Model.Car.Model</h1>
        <section class="data"></section>
    </main>
</body>
</html>