@model Wrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    /*$.ajaxSetup({
    headers: {
        "content-type": "application/json",
        "authorization": "Basic OWYxOTQ2ZGYtYmZiNy00ZmNmLTkyNTgtNmIwOWNhNjc0Njdi",
        "partner-token": "ac11a56f425c4fff8056611b4d000bcc"
    }
});
let year = @Model.Car.Year;
let make = "@Model.Car.Make.ToUpper()";
let model = "@Model.Car.Model.ToUpper()";
let mileage = @Model.Car.Mileage;
$.ajax({
    url: `https://cors-anywhere.herokuapp.com/http://api.carmd.com/v3.0/engine?year=@Model.Car.Year&make=@Model.Car.Make.ToUpper()&model=@Model.Car.Model.ToUpper()"`,
    type: 'GET',
    dataType: 'json', // added data type
    success: function(res) {
        console.log(res);
    }
});
$.ajax({
    url: `https://cors-anywhere.herokuapp.com/http://api.carmd.com/v3.0/upcoming?year=@Model.Car.Year&make=@Model.Car.Make.ToUpper()&model=@Model.Car.Model.ToUpper()"&mileage=@Model.Car.Mileage`,
    type: 'GET',
    dataType: 'json', // added data type
    success: function(res) {
        console.log(res);
    }
});*/
let results = undefined;
$.ajax({
    url: "https://cors-anywhere.herokuapp.com/@Model.CarDetails",
    type: 'GET',
    dataType: 'json', // added data type
    success: function (res) {
        console.log(res);
        results = res.Results;
        if ("@Model.Car.Model" != "Motorcycle") {
            $(".data").append(`
                <li class="list-group-item"><strong>${res.Results[14].Variable}:</strong> ${res.Results[14].Value}</li>
                <li class="list-group-item"><strong>Vehicle Class:</strong> ${res.Results[23].Value}</li>
                <li class="list-group-item"><strong>Vehicle Weight:</strong> ${res.Results[28].Value}</li>
                <li class="list-group-item"><strong>${res.Results[24].Variable}:</strong> ${res.Results[24].Value}</li>
                <li class="list-group-item"><strong>${res.Results[70].Variable}:</strong> ${res.Results[70].Value}</li>
                <li class="list-group-item"><strong>${res.Results[71].Variable}:</strong> ${res.Results[71].Value}</li>
                <li class="list-group-item"><strong>Horesepower:</strong> ${res.Results[82].Value}</li>
                <li class="list-group-item"><strong>Mileage:</strong> @Model.Car.Mileage</li>
                `)
        }
        else {
            $(".data").append(`
                <li class="list-group-item"><strong>${res.Results[14].Variable}:</strong> ${res.Results[14].Value}</li>
                <li class="list-group-item"><strong>Vehicle Class:</strong> ${res.Results[23].Value}</li>
                <li class="list-group-item"><strong>Vehicle Weight:</strong> ${res.Results[28].Value}</li>
                <li class="list-group-item"><strong>${res.Results[70].Variable}:</strong> ${res.Results[70].Value}</li>
                <li class="list-group-item"><strong>${res.Results[71].Variable}:</strong> ${res.Results[71].Value}</li>
                <li class="list-group-item"><strong>Horsepower:</strong> ${res.Results[82].Value}</li>
                <li class="list-group-item"><strong>Mileage:</strong> @Model.Car.Mileage</li>
                `)
        }
    }
});
$.ajax({
    url: "https://cors-anywhere.herokuapp.com/https://one.nhtsa.gov/webapi/api/Recalls/vehicle/modelyear/@Model.Car.Year/make/@Model.Car.Make/model/@Model.Car.Model?format=json",
    type: 'GET',
    dataType: 'json', // added data type
    success: function (res) {
        console.log(res);
        res.Results.forEach((item) => {
            $(".recall").append(`
                        <ul class="list-group"><h5>${item.Component}</h5>
                            <li class="list-group-item"><strong>Risk: </strong>${item.Conequence}</li>
                            <li class="list-group-item"><strong>Fix: </strong>${item.Remedy}</li>
                        </ul>
                    `)
        })
    }
});
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome @Model.User.FirstName @Model.User.LastName</h1>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/service">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/service/completed">Completed Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
            </ul>
        </header>
    </div>
    <main>
        <div class="container">
        <h1>@Model.Car.Year @Model.Car.Make @Model.Car.Model</h1>
        <section class="data">
            <h4>Vehicle Details:</h4>
        </section>
        </div>
        <div class="container">
        <section class="recall">
            <h2>Vehicle Recalls:</h2>
        </section>
        </div>
    </main>
</body>
</html>